.aboutTitle {
  margin: 1rem;
  color: var(--primary);
  font-family: var(--font-heading);
  font-size: clamp(1rem, calc(5vw + 1rem), 5rem);
  text-align: center;
}

.ourStoryTitle,
.aboutCharlotteTitle {
  margin: 1rem;
  color: var(--accent);
  font-family: var(--font-heading);
  font-size: clamp(0.5rem, calc(2.5vw + 0.5rem), 2.5rem);
  text-align: center;
}

.ourStoryParagraph,
.aboutCharlotteParagraph {
  width: 100%;
  margin: 0 0 5rem;
  padding: 0 clamp(1rem, 15vw, 20rem);
  color: #463737f2;
  font-family: var(--font-body);
}
