.navbar {
  /* background of navbar */
  background-color: cornflowerblue;
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

.navList {
  /* Text of items in navList */
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;

  /* Alignment things */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.navItem a {
  transition: color 0.2s ease;
}

.navItem a:hover {
  color: coral;
}
